@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Opcional: Algum reset básico para garantir que o fundo ocupe toda a tela */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}